doctype html
html(lang="en")
  head
    title EJ-CLI command line interface for Syncfusion controls
    if useCDN
      link(rel="stylesheet" href="http://cdn.syncfusion.com/" + version + "/themes/"+ theme + "/ej.web.all.min.css")
    else
      link(rel="stylesheet" href=version + "/themes/web/"+ theme + "/ej.web.all.min.css")
      
    script(src="external/jquery-1.11.3.min.js")
    script(src="external/jquery.easing.1.3.min.js")
   
    if requireGlobalize
     script(src="external/jquery.gobalize.min.js")   
   
    script(src="external/jsrender.min.js") 
   
    if requireExtension
     script(src="external/" + extension.external)
    
    if useCDN
     script(src="http://cdn.syncfusion.com/"+ version +"/js/web/ej.web.all.min.js")
    else
     script(src=version + "/scripts/ej.web.all.min.js")
   
    if requireExtension && useCDN
     script(src="http://cdn.syncfusion.com/"+ version +"/js/common/"+extension.ejfile)
    
    if requireExtension && !useCDN
     script(src=version + "/scripts/" + extension.ejfile)
  
  body
   each props, name in controls
    div #[#{props.tag}(class=props.class)] 
   each props, name in controls 
    script.    
     $(function(){       
           $(".#{props.class}")["#{props.name}"](!{JSON.stringify(props.properties)});
     });  

  